body {
  font-family: "Poppins", sans-serif;
  background: #f0f4ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  background: white;
  padding: 40px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  max-width: 600px;
  width: 100%;
  
}

h1 {
  text-align: center;
  color: #1e40af;
  margin-bottom: 30px;
}

section {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

input {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #bbb;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background: #1e3a8a;
}

p {
  font-weight: bold;
  margin-top: 10px;
}
